{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam at quia, tempora necessitatibus inventore voluptatem omnis consectetur? Amet quis alias quas aliquid? Ratione esse natus distinctio quae voluptas nisi deleniti!</p>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/about'" class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}